*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    body{
        background: #222831;
        .contenedorMain{
            background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
            font-family: 'Signika Negative', sans-serif;font-family: 'Signika Negative', sans-serif;
            margin: 0 auto;
            
        }
    }
}